body{
    background-image: url(img/0_2_Nero\ AI_Cartoon.jpeg);
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: 10%;
    background-position: center right; /* Center the image */
    background-attachment: fixed;
    overflow: hidden;
}

.nav{
    width: 100%;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav .logo {
    width:120px;
    height: 120px;
    display: flex;
    align-items: center;
    overflow: hidden;
    justify-content: center;
}


.nav .logo img{
    width: 100%;
    height: 70%;
    object-fit: contain;
    margin-top: 20px;
}

 .top-right-button {
    
    position: absolute;
    top: 30px;
    right: 37px;
    background-color: #4caf4f00;
    color: rgb(255, 255, 255);
    padding: 0.5rem 1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight:bolder;
    cursor: pointer;
    display: flex;
    border: none;
    background-color: black;
    border-radius: 10px;
}

 .top-right-button img{
    height: 34px;
    width: 34px;
    margin-right: 5px;
    margin-top: 10px;
    color: white;
}


 .top-right-button p{
    margin-top: 15px;
    color: white;

}



.menu{
    position: absolute;
    top: 25vh;
    left: 45px;
    border-radius: 25px;
    height: 35vh;
    width: 95px;
    background-color: #000000d5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.menu .user{
    width:100%;
    height:50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.menu .user img{
    width: 75%;
  
}
   


.menu .folder{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu .folder img{
    width: 80%;
    height: 70%;
    object-fit: contain;
}

.upload{
    width: 300px;
    height: 300px;
    background-color: white;
    position: absolute; /* Positioning relative to its parent */
    top: 50%; /* Move the top edge to the center vertically */
    left: 50%; /* Move the left edge to the center horizontally */
    transform: translate(-50%, -50%); /* Adjust to center the element */
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.712); 
    align-items: center;
    justify-content: center;
    display: flex;

}

.upload .text{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    position: absolute;
    bottom: 60px;
}


.sidebar {
    position: fixed;
    top:0px;
    right: -300px;
    height:100%;
    background-color: #000000;
    color: white;
    padding: 15px;
    transition: top 0.4s;
}


.sidebar .cross .cancel-button{
    font-size: 60px;
    font-weight: bolder;
    background-color: black;
    border: 1px solid;
    box-shadow: 2px 2px rgba(245, 245, 245, 0.19);
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 50px;
}

.sidebar .cross .cancel-button:hover{
    background-color: white;
    color: black;
}

.sidebar.active{
    right: 0; /* Show the sidebar */
}
