<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href='{% static "vercel.css" %}' type="text/css">

</head>

<body>
 
  <div class="nav">
    <button class="top-right-button" id="top-right-button">
      <img src='{% static "img/icon (1).svg" %}'>
      <p>en-US</p>
    </button>
  </div>



  <div class="logo">
    <img src='{% static "img/file(5).png" %}'>
  </div>


  <div class="desc">
    <h2>a  <mark> telegram</mark>  plugin for cloud storage</h2>
  </div>

  <div class="auth">
    <div class="sign-in">
        <div class="sign-in-text">
            <h2>Sign in</h2>
        </div>

        <div class="user">
            <form method="post" action="">

                {% csrf_token %}
                <div class="user">
                  <input type="text" name="data" >
                </div>
                
                <div class="login-button">
                    <button class="telegram" type="submit">
                        <p>Connect to</p>
                        <img src="{% static 'img/file(7).png' %}" class="tel-logo">
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>



    

</body>
</html>