<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href='{% static "auth.css" %}'>
</head>
<body>
    <div class="content">
        <div class="text">
            <h2>
                enter the code recived from  <mark>/qubit-login</mark>  bot
            </h2>

        </div>
        <div class="code">
            
            <form method="post" enctype="multipart/form-data" action="{% url 'home' %}">
                {% csrf_token %}
                <div class="data">
                    <input type="text" class="single-input" name="input1">
                    <input type="text" class="single-input" name="input2">
                    <input type="text" class="single-input" name="input3">
                    <input type="text" class="single-input" name="input4">
                </div>
                <div class="submit">
                    <button class="submit"> 
                    verify
                    </button>
                </div>
            </form>
        </div>
        

    </div>

    <script>
    document.addEventListener('DOMContentLoaded', (event) => {
    const inputs = document.querySelectorAll('.single-input');

    inputs.forEach((input, index) => {
        input.addEventListener('input', (event) => {
            // Move to the next input field if a digit is entered
            if (input.value.length === 1 && index < inputs.length - 1) {
                inputs[index + 1].focus();
            }
        });

        input.addEventListener('keydown', (event) => {
            // Move to the previous input field if Backspace is pressed and the field is empty
            if (event.key === 'Backspace' && input.value === '' && index > 0) {
                inputs[index - 1].focus();
            }
        });
    });
});



    </script>

    
    
</body>
</html>